
  
  .box-tea {
    display: flex;
    align-items: center;
    background-color: orange;
    width: 98.5%;
    height: 50px;
 
    margin-left: 10px;

  }
  
  .icon-tea {
    /* Add any additional styles for the icon if needed */
    margin-right: 10px;
    margin-left: 20px;
    color: green;
  }
  
  .text-tea {
    color: white;
  }
  


  
  .box-lunch {
    display: flex;
    align-items: center;
    background-color: orange;
    width: 98.5%;
    height: 50px;
 
    margin-left: 10px;

  }
  
  .icon-lunch {
    /* Add any additional styles for the icon if needed */
    margin-right: 10px;
    margin-left: 20px;
    color: green;
  }
  
  .text-lunch {
    color: rgb(255, 255, 255);
  }
.time-icon{
    color: orange;
}


@media (max-width: 768px) {
  .box-tea, .box-lunch {
    width: 93.5%;
    margin-left: 10px; 
    height: 70px;
  }
  
  .icon-tea, .icon-lunch {
    margin-left: 10px;
  }
}
