.green-box-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.green-box {
  border: 2px solid green;
  padding: 5px;
  text-align: left;
  width: 90%;
  transition: background-color 0.3s ease;
}

.title {
  text-align: center;
  font-size: 50px;
  color: green;
  margin: 10px;
}

.list li .icon{
  color: black;
}



.paragraph {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.list {
  font-size: 20px;
}

.list li {
  display: flex;
  align-items: center;
}

.list li .icon {
  transition: color 0.3s ease;
}

.green-box:hover {
  background-color: green;
  border-radius: 20px;
}

.green-box:hover .title,
.green-box:hover .paragraph,
.green-box:hover .list li {
  color: white;
}

.green-box:hover .list li .icon {
  color: orange;
}


@media screen and (max-width: 768px) {
  .green-box {
    width: 90%;
  }
  
  .title {
    font-size: 40px;
  }
  
  .paragraph,
  .list {
    font-size: 18px;
  }
  
  .list li {
    flex-wrap: wrap;
  }
  
  .list li .icon {
    margin-right: 5px;
  }

  .green-box .list li .icon {
    color: orange;
  }
  
  .green-box .title,
.green-box .paragraph,
.green-box .list li {
  color: white;
}
.green-box {
  background-color: green;
  border-radius: 20px;
}
}
