/* background.css */

.Objective {
  
    margin-top: 50px;
  }
  
  .obj-title {
    font-size: 60px;
    font-weight: bold;
    position: relative;
    transition: font-size 0.3s;
    color: green;
    
  }
  
  .obj-title:hover {

    /* color: rgb(2, 188, 2); */
    font-size: 65px;
  }
  
  .obj-title::after {
    content: '';
    display: block;
    width: 170px;
    height: 2px;
    background-color: rgb(255, 200, 0);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s, background-color 0.3s;
  }
  
  .obj-title:hover::after {

    width: 300px;
  }
  
  .obj-para {
    text-align: left;
    margin-left:  100px;
    margin-right: 100px;
    color: aliceblue;
  }

  li {
    color: aliceblue;
  }



.obj {
    background: linear-gradient(to right, #004f00, #01b701);
    padding: 20px;
    border-radius: 100px;
    max-width: 90%;
    margin: 0 auto;
    transition: transform 0.3s, border-radius 0.3s;
  }
  
  .obj:hover {
    border-radius: 30px; /* Adjust the border radius to make it less curved */
    transition: transform 0.3s, border-radius 0.3s, background-color 0.3s; /* Add background-color to make the transition smoother */

  }
  
  @media screen and (max-width: 768px) {
    .Objective {
      margin-top: 30px;
    }
  
    .obj-title {
      font-size: 40px;
    }
  
    .obj-title:hover {
      font-size: 45px;
    }

    .obj-title:hover::after {

      width: 300px;
    }
  
    .obj-para {
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .obj {
      max-width: 80%;
      border-radius: 30px;
    }
  }
  